<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> أبراهيم الصويص | أضافة منشور جديد</title>
    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- ========= Google font   =========  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;500;700;800&display=swap" rel="stylesheet">
    <!-- ========= normalize  =========  -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <!-- ========= Bootstrap  =========  -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css.map" />
    <!-- ========= Font Asowome  =========  -->
    <link rel="stylesheet" href="./css/all.min.css" />
    <!-- ========= Css  =========  -->
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/new-post.css" />
</head>

<body>
    <!-- Start Header -->
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="#"
                                class="nav-item mx-2 border rounded-circle d-flex justify-content-center align-items-center"
                                style="width: 40px; height: 40px">
                                <img src="./img/img-1.png" class="img-fluid rounded-circle w-100 h-100" alt="" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#">الصفحة الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">أضافة منشور جديد </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">تسجيل الدخول</a>
                        </li>

                    </ul>
                    <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
                </div>
                <a class="navbar-brand logo" href="#">أبراهيم الصويص</a>

            </div>
        </nav>
    </div>
    <!-- End Header -->
    <!-- Start main -->
    <main class="main   ">
        <div class="container ">
            <div class="box w-75 m-auto mt-5    ">
                <form class="row g-3 justify-content-center">
                    

                    <div class="col-md-8">
                      <label for="username" class="form-label">أسم المستخدم </label>
                      <input type="text" class="form-control" id="username">
                    </div>


                    <div class="col-md-8">
                      <label for="inputPassword4" class="form-label">كلمة المرور</label>
                      <input type="password" class="form-control" id="inputPassword4">
                    </div>



                    <div class="col-md-8 my-5 ">
                      <button type="submit" class="btn btn-primary" id="main-btn">تسجيل الدخول</button><br>
                      <small class=" my-3">أذا لم يكن لديك حساب يمكنك أنشاء حساب من  <a href="#">هنا</a></small>
                    </div>
                  </form>
            </div>


            
        </div>
    </main>
    <!-- End main -->
    <!-- ========= Bootstrap  =========  -->
    <script src="./js/bootstrap.bundle.min.js"></script>
    <!-- <script src="./js/bootstrap.bundle.min.js.map"></script> -->
    <!-- ========= Font Asowome  =========  -->
    <script src="./js/all.min.js"></script>

    <script src="./js/main.js"></script>
</body>

</html>